build/
smaug1-main
smaug3-main
smaug5-main
smaug1-speed
smaug3-speed
smaug5-speed
PQCgenKAT_smaug1
PQCgenKAT_smaug3
PQCgenKAT_smaug5
smaug1-main-90s
smaug3-main-90s
smaug5-main-90s
smaug1-speed-90s
smaug3-speed-90s
smaug5-speed-90s
PQCgenKAT_smaug1-90s
PQCgenKAT_smaug3-90s
PQCgenKAT_smaug5-90s
