build/
smaug-t1-main
smaug-t3-main
smaug-t5-main
smaug-t1-speed
smaug-t3-speed
smaug-t5-speed
PQCgenKAT_smaug-t1
PQCgenKAT_smaug-t3
PQCgenKAT_smaug-t5
smaug-t1-main-90s
smaug-t3-main-90s
smaug-t5-main-90s
smaug-t1-speed-90s
smaug-t3-speed-90s
smaug-t5-speed-90s
PQCgenKAT_smaug-t1-90s
PQCgenKAT_smaug-t3-90s
PQCgenKAT_smaug-t5-90s

timer-main
timer-speed
